  body {
    padding-top: 54px;
  }

  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }
  
  .btn-lg {
      padding: 5px 5px;
      font-size: 22px;
      border-radius: 8px;
  }
